body{
    background-color: #f3f2ed;
}
.button-pokemon{
    border-color:#8FC0A9;
    margin: 30px; 
    padding: 20px;
    border-radius: 10px;
    border-width: 2.5px;
    font-size: 20px;
    font-family: 'Martian Mono', 'sans-serif';
    background-color: FAF3DD;
    color: #696D7D;  
    
}

.button-pokemon:hover{
    background-color: #a4d2bc;
    cursor: pointer;
    
} 

.pokemon-list{
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-container{
    display: none;
}

#modal-container.is-visible{
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rbga(0,0,0,0.5);
    z-index: 999; /*shows the container above other content*/
    overflow: auto; /*allows for scrolling if the screen is not high enough*/
    display: flex; /* center the modal */
    flex-direction: center;
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background:  #d5ebe1;
    border: 2px solid #8c8f9e;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
    
}

.modal-close{
    float: right;
    color: #696D7D;
    border: none;
    background: #d5ebe1;
    font-size: 30px;
    cursor: pointer;
}

.title{
    font-size: 60px;
    font-family: 'Martian Mono', 'sans-serif';
    color:#696D7D;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    text-decoration: overline #8FC0A9;
}

#catch-phrase{
    display: flex;
    justify-content: center;
    font-family: 'East Sea Dokdo', 'sans-serif';
    font-size: 25px;
    color: #76b095;
    }
    
.pokemonName{
   font-size: 40px; 
   font-family: 'Martian Mono', 'sans-serif';
   color:#696D7D;
   display: flex;
   justify-content: center;
}

.pokemonHeight{
    font-size: 22px;
    font-family: 'Martian Mono', 'sans-serif';
    color:#696D7D;
}

.pokemonWeight{
    font-size: 22px;
    font-family: 'Martian Mono', 'sans-serif';
    color:#696D7D;
}

.imageUrlFront, .imageUrlBack{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%; 
}


