.body{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 2;
    background-color: rgb(216, 98, 98);
} 

 
.button-pokemon{
    border-color:#8FC0A9;
    margin: 10px; 
    padding: 10px;
    border-radius: 10px;
    border-width: 3px;
   font-size: 25px;
   font-family: 'Martian Mono', 'sans-serif';
   background-color: FAF3DD;
   color: #696D7D;  
}

.button-pokemon:hover{
    background-color: #a4d2bc;
    cursor: pointer;
} 

.pokemon-list{
    list-style-type: none;
    display: flex;   
    flex-direction: column;
    align-items: center;
    margin: 20% auto;
    padding: 20px;
    width: 10px;  
}


#modal-container{
    display: none;
}

#modal-container.is-visible{
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rbga(0,0,0,0.5);
    z-index: 999; /*shows the container above other content*/
    overflow: auto; /*allows for scrolling if the screen is not high enough*/
    display: flex; /* center the modal */
    flex-direction: center;
   
}

.modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background:  #c5e1d4;
    border-color: #696D7D;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-width: 700px;
    text-align: left;
}

.modal-close{
    float: right;
    color: #696D7D;
    border: none;
    background: #c5e1d4;
    font-size: 15px;
    cursor: pointer;
    
}

/* .titleElement{
    font-size: 80px;

} */